<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <header class="dashboard-header">
            <h2 class="welcome-message">Bem vindo, {{ user_name }}! Você está acessando o dashboard gerencial da Garbuio.</h2>
            <a href="{{ url_for('logout') }}" class="logout-button">
                <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logout" class="logout-image">
            </a>
        </header>
        <div class="dashboards">
            {% for dashboard in user_dashboards %}
                <div class="dashboard-item">
                    <h3 class="dashboard-title">{{ dashboard.title }}</h3>
                    <iframe src="{{ dashboard.url }}" frameborder="0"></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
