<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <header class="dashboard-header">
            <h2>Bem vindo, {{ user_name }}</h2>
            <a href="{{ url_for('logout') }}">Logout</a>
        </header>
        <div class="dashboards">
            {% for dashboard, title in zip(dashboards, titles) %}
                <div class="dashboard-item">
                    <h3>{{ title }}</h3> <!-- Título para cada dashboard -->
                    <iframe src="{{ dashboard }}" frameborder="0"></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
